/*.rbxlx.lock
/*.rbxl.lock
/*.rbxl
/*.rbxm

DevPackages/
**/Packages/
dist/
build/

sourcemap.json
globalTypes.d.luau

node_modules/
out/
package_tarballs/
builds/
.devenv

# Nix / direnv artifacts
.envrc
flake.nix
flake.lock
.direnv/
.direnv/**
